/* 

  GLOBAL STYLES 

  Please, think very carefully before putting stuff in here. 
  The only things that belong in here are styles for the elements that 
  sit outside of React's reach (eg html and body)

  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {

  /* Get fonts to look slightly nicer where possible */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  /* @TEMP CODE: */
  padding: 20px;
  background: rebeccapurple;
}